@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #121212;
  --foreground: #ffffff;
}

body {
  color: var(--foreground);
  background: var(--background);
  /* Use Inter font which is setup in layout.tsx by default Next.js template, but enforcing sans-serif fallback */
  font-family: var(--font-inter), sans-serif;
  overflow-x: hidden;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .glass {
    @apply bg-black/30 backdrop-blur-md border border-white/10;
  }
}
